<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iitk.proxyLogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".misc.ProxyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <receiver android:name=".receiver.AlarmReceiver"/>
        <receiver android:name=".receiver.CaptivePortalReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CAPTIVE_PORTAL"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.WifiStateReceiver"
            android:enabled="true" android:label="WifiStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.iitk.proxyLogin.activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iitk.proxyLogin.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.SessionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <service android:enabled="true"
            android:exported="false"
            android:name=".service.ProxyService"/>
    </application>

</manifest>